/*
Theme Name:  2015-by-wkwkrnht-child
Template:    2015-by-wkwkrnht
Author:      wkwkrnht
Author URI:  http://wkwkrnht.gegahost.net/
License:     MIT License
License URI: https://opensource.org/licenses/mit-license.php
Version:     1.0.0
Description: This is made as child theme for 2016-by-wkwkrnht.
*/
